.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ul {
  list-style-type: none;
  padding: 1em;
  width: 100%;
  @media (max-width: 600px) {
    width: 90%;
  }
}
