@import '../../../../../../style/fonts.scss';
@import '../../../../../../style/colors.scss';
.form {
  font-family: $font-secondary;
  &__title {
    font-family: $font-primary;
    color: $color-neutro;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 47.5% */
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 70%;
    @media (max-width: 991px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 768px) {
      max-width: 90%;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
  }
}

.helper {
  &__error {
    color: $color-error;
    text-align: left !important;
  }
}
.button {
  &--disabled {
    background-color: $color-disabled;
    color: $color-contrast;
    border-radius: 50px;
    width: 170px;
    height: 55px;
    flex-shrink: 0;
    border: none;
  }
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $color-secondary;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }

  border-radius: 50px;
  background: #d8ad3d;
  width: 170px;
  height: 55px;
  flex-shrink: 0;
  border: none;
  color: $color-contrast;
}

.input {
  &--error {
    border: 1px solid $color-error !important;
  }
}
